version: 2.1
defaults: &defaultsteps
  steps:
    - checkout
    - run:
        name: Install requirements
        command: uv sync
    - run:
        name: Test
        command: |
          uv run python --version
          uv run pytest
  parallelism: 5
jobs:
  py310:
    <<: *defaultsteps
    docker:
      - image: cimg/python:3.10
  py311:
    <<: *defaultsteps
    docker:
      - image: cimg/python:3.11
  py312:
    <<: *defaultsteps
    docker:
      - image: cimg/python:3.12
  py313:
    <<: *defaultsteps
    docker:
      - image: cimg/python:3.13
  py314:
    <<: *defaultsteps
    docker:
      - image: cimg/python:3.14
workflows:
  version: 2.1
  build_multiple_python:
    jobs:
      - py310
      - py311
      - py312
      - py313
      - py314
